Pods
Blitz.xcodeproj/project.xcworkspace/xcshareddata/
SkimReader.xcworkspace/xcuserdata/vivekseth.xcuserdatad/UserInterfaceState.xcuserstate
SkimReader.xcworkspace/xcuserdata/vivekseth.xcuserdatad/xcdebugger/
Blitz.xcodeproj/project.xcworkspace/xcuserdata/vivekseth.xcuserdatad/UserInterfaceState.xcuserstate

